<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if lt IE 7 ]> <html lang="en" class="ie6">    <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7">    <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8">    <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9">    <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Trang chủ | TShop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/favicon.ico">

    <!-- google font CSS
    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800' rel='stylesheet' type='text/css'>

    <!-- style CSS
    ============================================ -->
    <link rel="stylesheet" href="~/Content/style.css">

    <script src="~/Content/js/vendor/modernizr-2.8.3.min.js"></script>

    <script src="https://cdn.tiny.cloud/1/mdct1oh8ohzxvogy552989uz09luuksteb72ol0m6undgglu/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>
    <script>
        tinymce.init({
            selector: '#mytextarea1'
        });
    </script>
    <style>
        .button.cart_button span {
            font-size: 14px;
        }

        .category-menu-list ul li .cat-left-drop-menu-left ul li a {
            font-size: 16px;
        }
    </style>

</head>

<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <!-- header area start -->
    <div class="header-area">

        @Html.Partial("~/Views/Shared/Layout/_HeaderTop.cshtml")


        <div class="header-menu">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-md-3 col-12">
                        <div class="logo-area">
                            <a href="@Url.Action("Index","TrangChu")"><img src="~/Content/img/logo.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-md-6 col-12">
                        <div class="block-header">
                            <div class="phone"><i class="fa fa-phone"></i>(+84) 981 781 811</div>
                            <div class="email"><a href="mailto:tuantran.sw@gmail.com"><i class="fa fa-envelope-o"></i><span>Tuantran.sw@gmail.com</span></a></div>
                        </div>
                        <div class="search-categori">
                            @using (Html.BeginForm("KetQuaTimKiem", "TimKiem"))
                            {
                                <div class="search-box">

                                    <input name="TuKhoa" type="text" class="form-control input-sm" maxlength="64" placeholder="Tìm kiếm trên TShop">
                                    <button type="submit">Tìm kiếm</button>

                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-3 col-12">
                        @Html.Action("GioHangPartial", "GioHang")
                    </div>
                </div>
            </div>
        </div>
        @Html.Action("MenuPartial", "TC")
    </div>
  
    <!-- header area end -->
   

    
    @RenderBody()


    <div class="footer-static-container">
        <div class="container">
            <div class="footer-static row pt30 pb30">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-static-title">
                        <h3>ABOUT PERSEUS</h3>
                    </div>
                    <div class="footer-static-content social-links">
                        <a href="#" class="logo"><img alt="" src="img/logo.png"></a>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas...</p>
                        <div class="web-links">
                            <ul>
                                <li><a href="#" class="rss"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" class="ldin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#" class="face"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-static-title">
                        <h3>OUR SERVICES</h3>
                    </div>
                    <div class="footer-static-content footer-service">
                        <ul>
                            <li class="first">
                                <a href="#">
                                    <i class="fa fa-angle-double-right"></i>
                                    Order History
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-double-right"></i>
                                    Returns
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-double-right"></i>
                                    Specials
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-double-right"></i>
                                    Mobiles
                                </a>
                            </li>
                            <li>
                                <a href="my-account.html">
                                    <i class="fa fa-angle-double-right"></i>
                                    My Account
                                </a>
                            </li>
                            <li class="last">
                                <a href="contact.html">
                                    <i class="fa fa-angle-double-right"></i>
                                    Contact Us
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mt-sm-30">
                    <div class="footer-static-title">
                        <h3>MY ACCOUNT</h3>
                    </div>
                    <div class="footer-static-content footer-acc">
                        <ul>
                            <li class="first"><a href="about-us.html">About us</a><span>1</span></li>
                            <li><a href="">Custom Service</a><span>2</span></li>
                            <li><a href="">Privacy Policy</a><span>3</span></li>
                            <li class="first"><a href="">Sitemap</a><span>4</span></li>
                            <li><a href="">Terms &amp; Condition</a><span>5</span></li>
                            <li class="last"><a href="">Advanced Search</a><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mt-sm-30">
                    <div class="footer-static-title">
                        <h3>CONTACT US</h3>
                    </div>
                    <div class="footer-static-content footer-add">
                        <div class="address">1234 Heaven Stress, Beverly Hill OldYork- United State of Lorem</div>
                        <div class="phone">
                            (800) 0123 4567 890
                            <br> (800) 0987 654 321
                        </div>

                        <div class="mail">
                            admin@bootexparts.com
                            <br> Support@bootexparts.com
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-static-2">
                <div class="link-category">
                    <nav>
                        <ul>
                            <li><a title="Clothing" href="#">Clothing</a></li>
                            <li><a title="equipments" href="#">equipments</a></li>
                            <li><a title="Jewellery" href="#">Jewellery</a></li>
                            <li><a title="Watches" href="#">Watches</a></li>
                            <li><a title="books" href="#">books</a></li>
                            <li><a title="Sports" href="#">Sports</a></li>
                            <li><a title="gifts" href="#">gifts</a></li>
                            <li><a title="Health" href="#">Health</a></li>
                            <li><a title="Medical" href="#">Medical</a></li>
                            <li><a title="Electronics" href="#">Electronics</a></li>
                        </ul>
                    </nav>

                </div>

            </div>
        </div>
    </div>

    <footer class="ma-footer-container">
        <div class="container">
            <div class="row basak-footer">
                <div class="col-lg-7 col-md-12 col-12">
                    <nav>
                        <ul class="links">
                            <li class="first"><a title="Site Map" href="#">Site Map</a></li>
                            <li><a title="Search Terms" href="#">Search Terms</a></li>
                            <li><a title="Advanced Search" href="3">Advanced Search</a></li>
                            <li><a title="Orders and Returns" href="3">Orders and Returns</a></li>
                            <li class=" last"><a title="Contact Us" href="3">Contact Us</a></li>
                        </ul>
                    </nav>
                    <address>Copyright &copy; 2018-All rights reserved. <a title="Themes Club" href="https://hastech.company">HasTech</a></address>
                </div>
                <div class="col-lg-5 col-md-12 col-12">
                    <div class="payment">
                        <ul>
                            <li>
                                <a href="#"><img alt="" src="img/switch.jpg"></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" src="img/american_express.jpg"></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" src="img/paypal.jpg"></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" src="img/discover.jpg"></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" src="img/visa.jpg"></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" src="img/maestro.jpg"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- JS -->
    <!-- jquery-1.11.3.min js
    ============================================ -->
    <script src="~/Content/js/vendor/jquery-1.11.3.min.js"></script>

    <!-- popper js
    ============================================ -->
    <script src="~/Content/js/popper.min.js"></script>

    <!-- bootstrap js
    ============================================ -->
    <script src="~/Content/js/bootstrap.min.js"></script>

    <!-- Nivo slider js
    ============================================ -->
    <script src="~/Content/custom-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
    <script src="~/Content/custom-slider/home.js" type="text/javascript"></script>

    <!-- mixit up js
    ============================================ -->
    <script src="~/Content/js/jquery.mixitup.min.js"></script>

    <!-- Fancybox up js
    ============================================ -->
    <script src="~/Content/js/fancybox/jquery.fancybox.pack.js"></script>

    <!-- Price Slider js
    ============================================ -->
    <script src="~/Content/js/jquery-price-slider.js"></script>

    <!-- owl.carousel.min js
    ============================================ -->
    <script src="~/Content/js/owl.carousel.min.js"></script>

    <!-- counterUp
    ============================================ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="~/Content/js/jquery.counterup.min.js"></script>

    <!-- Scroll up js
    ============================================ -->
    <script src="~/Content/js/jquery.scrollUp.js"></script>

    <!-- elevator zoom js
    ============================================ -->
    <script src="~/Content/js/jquery.elevateZoom-3.0.8.min.js"></script>

    <!-- mean Menu
    ============================================ -->
    <script src="~/Content/js/jquery.meanmenu.js"></script>

    <!-- wow js
    ============================================ -->
    <script src="~/Content/js/wow.js"></script>

    <!-- chosen.jquery.min.js
    ============================================ -->
    <script src="~/Content/js/chosen.jquery.min.js"></script>

    <!-- plugins js
    ============================================ -->
    <script src="~/Content/js/plugins.js"></script>

    <!-- main js
    ============================================ -->
    <script src="~/Content/js/main.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</body>

</html>
