@using TShop.Models;
@*@model IEnumerable<LOAISANPHAM>*@
@{
    //ViewBag.Title = "Index";
    //IEnumerable<LOAISANPHAM> vBLoaiSanPham = (IEnumerable<LOAISANPHAM>)ViewBag.vBLoaiSanPham;
    IEnumerable<SANPHAM> vBSanPhamBanChay = (IEnumerable<SANPHAM>)ViewBag.vBSanPhamBanChay;
    IEnumerable<SANPHAM> vBSanPhamMoi = (IEnumerable<SANPHAM>)ViewBag.vBSanPhamMoi;
    Layout = "~/Views/Shared/Layout/_HomeLayout.cshtml";
}
@Html.Partial("~/Views/TC/SlidePartial.cshtml")
@Html.Partial("~/Views/TC/BannerPartial.cshtml")
<!-- main area start -->
<div class="main-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-12 nopadding-right">
                @*@Html.Partial("~/Views/LoaiSanPham/DanhMucSanPhamConPartial.cshtml",)*@
                @Html.Action("DanhMucSanPhamPartial", "LoaiSanPham")
                @Html.Action("SanPhamBanChayPartial", "TC")
                <!--aside 4 end-->
                <!--aside 1 end-->

                @Html.Action("DangKiNhanTinPartial", "TC")
                <!--aside 3 end-->
                @*<aside>
                        <div class="tag-area">
                            <div class="area-title">
                                <h3>Popular Tags</h3>
                            </div>
                            <ul class="aside-padd">
                                <li> <a href="#">html5</a></li>
                                <li> <a href="#">css3</a></li>
                                <li> <a href="#">Joomla</a></li>
                                <li> <a href="#">Jquery</a></li>
                                <li> <a href="#">css</a></li>
                                <li> <a href="#">Content</a></li>
                                <li> <a href="#">clothing</a></li>
                                <li> <a href="#">shoes</a></li>
                                <li> <a href="#">gifts</a></li>
                                <li> <a href="#">electronics</a></li>
                            </ul>
                        </div>
                    </aside>*@
                <!--aside 2 end-->

            </div>
            <!--col-md-3-->

            <div class="col-lg-9 col-md-9 col-12 nopadding-left">
                <div class="ambit-key">
                    <!-- product section start -->
                    <div class="our-product-area top-pd featur-padd">
                        <!-- area title start -->
                        <div class="area-title">
                            <h2>Sản Phẩm Hot</h2>
                        </div>
                        <!-- area title end -->
                        <!-- our-product area start -->
                        <div class="features-tab">
                            <!-- Nav tabs -->
                            <ul class="nav">
                                <li><a class="active" href="#bestseller" data-toggle="tab"><i class="fa fa-list"></i>Sản phẩm bán chạy</a></li>
                                <li><a href="#new" data-toggle="tab"><i class="fa fa-arrow-circle-o-down"></i>Sản phẩm mới</a></li>
                                @*<li><a href="#profile" data-toggle="tab"><i class="fa fa-star-o"></i>Random Products</a></li>*@
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!--================================Best sellar================================-->
                                <div role="tabpanel" class="tab-pane carousel-btn carousle-pagi fade show active" id="bestseller">
                                    <div class="row row-margin">
                                        <div class="feature-carousel pt20 pb20">
                                            <!-- single-product start -->
                                            @foreach (var item in vBSanPhamBanChay.Take(10))
                                            {
                                                <div class="col-12 col-padd">
                                                    <div class="single-product">
                                                        <div class="product-label">
                                                            <div class="new"></div>
                                                        </div>
                                                        <div class="product-img">
                                                            <a href="@Url.Action("ChiTietSanPham","SanPham",new { MaSP=item.MaSP})">
                                                                <img class="primary-image" src="@Url.Content("~/Content/HinhAnh/"+item.HinhAnh)" alt="" />
                                                            </a>
                                                        </div>
                                                        <div class="product-content">
                                                            @if (item.TenSP.Length < 28)
                                                            {
                                                                <h2 class="product-name"><a href="@Url.Action("ChiTietSanPham","SanPham",new { MaSp=item.MaSP})">@item.TenSP</a></h2>
                                                            }
                                                            else
                                                            {
                                                                <h2 class="product-name"><a href="@Url.Action("ChiTietSanPham","SanPham",new { MaSp=item.MaSP})">@item.TenSP.Substring(0, 28)...</a></h2>
                                                            }

                                                            <div class="rating">
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                                            </div>
                                                            <div class="price-box">
                                                                <span class="new-price">@{var donGia = String.Format("{0:0,0 VNĐ}", item.DonGia);} @donGia</span>
                                                            </div>
                                                        </div>
                                                        <div class="product-content2">
                                                            <h2 class="product-name"><a href="@Url.Action("ChiTietSanPham","SanPham",new { MaSP=item.MaSP})">@item.TenSP</a></h2>
                                                            <div class="rating">
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                                            </div>
                                                            <div class="price-box">
                                                                <span class="new-price">@donGia</span>
                                                            </div>
                                                            <div class="button-container">
                                                                <a title="Thêm vào giỏ hàng" href="@Url.Action("ThemGioHang", "GioHang", new { @MaSP = item.MaSP })" class="button cart_button">
                                                                    <span>Mua ngay</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <ul class="add-to-links">
                                                            <li>
                                                                <div class="wishlist">
                                                                    <a title="Thêm vào danh sách yêu thích" href="#" data-toggle="tooltip"><i class="fa fa-heart"></i></a>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="view-products">
                                                                    <a title="Chi tiết sản phẩm" href="@Url.Action("ChiTietSanPham","SanPham",new { MaSP=item.MaSP})" data-toggle="tooltip" data-placement="top"><i class="fa fa-arrows-alt"></i></a>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <!--================================New Arrival================================-->
                                <div role="tabpanel" class="tab-pane carousel-btn carousle-pagi fade" id="new">
                                    <div class="row row-margin">
                                        <div class="feature-carousel pt20 pb20">
                                            <!-- single-product start -->
                                            @foreach (var item in vBSanPhamMoi.Take(10))
                                            {
                                                <div class="col-12 col-padd">
                                                    <div class="single-product">
                                                        <div class="product-label">
                                                            <div class="new"></div>
                                                        </div>
                                                        <div class="product-img">
                                                            <a href="@Url.Action("ChiTietSanPham","SanPham",new { MaSP=item.MaSP})">
                                                                <img class="primary-image" src="@Url.Content("~/Content/HinhAnh/" + item.HinhAnh)" alt="" />
                                                            </a>
                                                        </div>
                                                        <div class="product-content">

                                                            @if (item.TenSP.Length < 28)
                                                            {
                                                                <h2 class="product-name"><a href="@Url.Action("ChiTietSanPham","SanPham",new { MaSp=item.MaSP})">@item.TenSP</a></h2>
                                                            }
                                                            else
                                                            {
                                                                <h2 class="product-name"><a href="@Url.Action("ChiTietSanPham","SanPham",new { MaSp=item.MaSP})">@item.TenSP.Substring(0, 28)...</a></h2>
                                                            }
                                                            <div class="rating">
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                                            </div>
                                                            <div class="price-box">
                                                                <span class="new-price">@{var donGia = String.Format("{0:0,0 VNĐ}", item.DonGia);} @donGia</span>
                                                            </div>
                                                        </div>
                                                        <div class="product-content2">
                                                            <h2 class="product-name"><a href="@Url.Action("ChiTietSanPham","SanPham",new { MaSP=item.MaSP})">@item.TenSP</a></h2>
                                                            <div class="rating">
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                                            </div>
                                                            <div class="price-box">
                                                                <span class="new-price">@donGia</span>
                                                            </div>
                                                            <div class="button-container">
                                                                <a title="Thêm vào giỏ hàng" href="@Url.Action("ThemGioHang", "GioHang", new { @MaSP = item.MaSP })" class="button cart_button">
                                                                    <span>Mua ngay</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <ul class="add-to-links">
                                                            <li>
                                                                <div class="wishlist">
                                                                    <a title="Thêm vào danh sách yêu thích" href="#" data-toggle="tooltip"><i class="fa fa-heart"></i></a>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="view-products">
                                                                    <a title="Chi tiết sản phẩm" href="@Url.Action("ChiTietSanPham","SanPham",new { MaSP=item.MaSP})" data-toggle="tooltip" data-placement="top"><i class="fa fa-arrows-alt"></i></a>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product section end -->
                    </div>
                    <!-- our-product-area end-->
                    <!--advertise area start-->
                    <div class="row advertise-area mt10 ml-0 mr-0">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="single-add vina-banner">
                                <a href="#"><img style="width:409px;height:176px;" src="~/Content/SlideImg/SSD_970evo_kv_pc_kv.jpg" alt="" /> </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="single-add vina-banner">
                                <a href="#"><img style="width:409px;height:176px;" src="~/Content/SlideImg/SSD_970pro_kv_pc_kv.jpg" alt="" /></a>
                            </div>
                        </div>
                    </div>
                    <!--advertise area end-->
                   @Html.Action("LuaChonTotNhatPartial","TC")
                    <!--purchase progress area start-->
                    <div class="purchase-Progress-area featur-padd">
                        <div class="area-title bdr mt25">
                            <h2>Các bước mua hàng</h2>
                        </div>
                        <div class="progress-steps">
                            <ul class="mt10">
                                <li>
                                    <h4>Bước 1</h4>
                                    <div class="progress-img">
                                        <img src="~/Content/img/step1.png" alt="">
                                    </div>
                                    <p>Chọn sản phẩm</p>
                                </li>
                                <li>
                                    <h4>Bước 2</h4>
                                    <div class="progress-img">
                                        <img src="~/Content/img/step2.png" alt="">
                                    </div>
                                    <p>Thêm vào giỏ hàng</p>
                                </li>
                                <li>
                                    <h4>Bước 3</h4>
                                    <div class="progress-img">
                                        <img src="~/Content/img/step3.png" alt="">
                                    </div>
                                    <p>Kiểm tra giỏ hàng</p>
                                </li>
                                <li>
                                    <h4>Bước 4</h4>
                                    <div class="progress-img">
                                        <img src="~/Content/img/step4.png" alt="">
                                    </div>
                                    <p>Nhập mã giảm giá</p>
                                </li>
                                <li>
                                    <h4>Bước 5</h4>
                                    <div class="progress-img">
                                        <img src="~/Content/img/final_step.png" alt="">
                                    </div>
                                    <p>Thanh toán</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                 
                    @*<div class="row advertise-area mt10 ml-0 mr-0">
                        <div class="col-lg-6 col-md-6">
                            <div class="single-add vina-banner">
                                <a href="#"><img src="~/Content/SlideImg/rsz_2-860pro_pc.jpg" style="width:409px;height:176px" alt="" /> </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-add vina-banner">
                                <a href="#"><img src="~/Content/SlideImg/rsz_2-860pro_pc.jpg" style="width:409px;height:176px" alt="" /></a>
                            </div>
                        </div>
                    </div>*@
                    <!--advertise area2 end-->
                    <!--brand crasoule-area-start-->

                    @Html.Action("ThuongHieuPartial", "TC")
                    <!--brand crasoule-area-end-->
                </div>
                <!--ambit-key-->
            </div>
            <!--col-md-9-->
        </div>
        <!--row-->
    </div>
    <!--container-->
</div>
<!-- main area end -->
