@model TShop.Models.NHASANXUAT

@{
    ViewBag.Title = "SuaNhaSanXuat";
    Layout = "~/Views/Shared/Layout/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Cập nhật nhà sản xuất</h6>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("SuaNhaSanXuat", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @*<h4>Cập nhật sản phẩm</h4>*@

                    @*<hr />*@
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.Hidden("MaNSX", Model.MaNSX)
 
                    @Html.Hidden("HinhAnh", Model.HinhAnh)
 
                    @Html.Hidden("Xoa", Model.Xoa)

                    <div class="form-group">
                        <label class="control-label col-md-2">Tên nhà sản xuất</label>
                        @*@Html.LabelFor(model => model.TenSP, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TenNSX, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenNSX, "", new { @class = "text-danger" })
                            <span class="text-danger">@ViewBag.TenNSX</span>
                        </div>
                    </div>

             

                    <div class="form-group">
                        <label class="control-label col-md-2">Thông tin</label>
                        @*@Html.LabelFor(model => model.DonGia, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ThongTin, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ThongTin, "", new { @class = "text-danger" })
                        </div>
                    </div>
              
                


                    <div class="form-group">
                        <label class="control-label col-md-2">Hình ảnh</label>
                        @*@Html.LabelFor(model => model.HinhAnh, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">

                            <input type="file" name="HinhAnh" />


                            @if (Model.HinhAnh != null)
                            {
                                <img src="@Url.Content("~/Content/HinhAnh/ThuongHieu/"+Model.HinhAnh)" width="240px" height="150px" />

                            }
                            <span class="text-danger">@ViewBag.Upload</span>
                            <span class="text-danger">@ViewBag.HinhAnh</span>


                        </div>
                    </div>

                    <span class="text-danger">@ViewBag.ABC</span>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Cập nhật" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
            <div>
                @Html.ActionLink("Về trang chủ", "XemNhaSanXuat")
            </div>
        </div>
    </div>
</div>
