@model TShop.Models.SANPHAM

@{
    ViewBag.Title = "SuaSanPham";
    Layout = "~/Views/Shared/Layout/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Cập nhật sản phẩm</h6>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("SuaSanPham", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @*<h4>Cập nhật sản phẩm</h4>*@

                    @*<hr />*@
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.Hidden("MaSP", Model.MaSP)
                    @*@Html.Hidden("DonGia", Model.DonGia)*@
                    @Html.Hidden("HinhAnh", Model.HinhAnh)
                    @Html.Hidden("HinhAnh1", Model.HinhAnh)
                    @Html.Hidden("HinhAnh2", Model.HinhAnh2)
                    @Html.Hidden("HinhAnh3", Model.HinhAnh3)
                    @Html.Hidden("HinhAnh4", Model.HinhAnh4)
                    @*@Html.Hidden("SoLuongTon", Model.SoLuongTon)*@
                    @Html.Hidden("LuotMua", Model.LuotMua)
                    @Html.Hidden("LuotXem", Model.LuotXem)
                    @Html.Hidden("NgayCapNhat", System.DateTime.Now)
                    @Html.Hidden("Xoa", Model.Xoa)

                    <div class="form-group">
                        <label class="control-label col-md-2">Tên sản phẩm</label>
                        @*@Html.LabelFor(model => model.TenSP, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
                            <span class="text-danger">@ViewBag.TenSP</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Loại sản phẩm</label>
                        @*@Html.LabelFor(model => model.MaLSP, "MaLSP", htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.DropDownList("MaLSP", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MaLSP, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Nhà cung cấp</label>
                        @*@Html.LabelFor(model => model.MaNCC, "MaNCC", htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.DropDownList("MaNCC", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MaNCC, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Nhà sản xuất</label>
                        @*@Html.LabelFor(model => model.MaNSX, "MaNSX", htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.DropDownList("MaNSX", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MaNSX, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-2">Giá tiền (VNĐ)</label>
                        @*@Html.LabelFor(model => model.DonGia, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Số lượng tồn</label>
                        @*@Html.LabelFor(model => model.SoLuongTon, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SoLuongTon, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SoLuongTon, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Cấu hình</label>
                        @*@Html.LabelFor(model => model.CauHinh, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.CauHinh, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CauHinh, "", new { @class = "text-danger" })*@
                            <textarea id="mytextarea1" name="CauHinh">@Model.CauHinh</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Mô tả</label>

                        @*@Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })*@
                            <textarea id="mytextarea" name="MoTa">@Model.MoTa</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Hình ảnh 1</label>
                        @*@Html.LabelFor(model => model.HinhAnh, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">

                            <input type="file" name="HinhAnh" />


                            @if (Model.HinhAnh != null)
                            {
                                <img src="@Url.Content("~/Content/HinhAnh/"+Model.HinhAnh)" width="150px" height="150px" />

                            }
                            <span class="text-danger">@ViewBag.Upload</span>
                            <span class="text-danger">@ViewBag.HinhAnh</span>


                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Hình ảnh 2</label>
                        @*@Html.LabelFor(model => model.HinhAnh2, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.HinhAnh2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.HinhAnh2, "", new { @class = "text-danger" })*@
                            <input type="file" name="HinhAnh2" />

                            @if (Model.HinhAnh2 != null)
                            {
                                <img src="@Url.Content("~/Content/HinhAnh/"+Model.HinhAnh2)" width="150px" height="150px" />
                            }
                            <span class="text-danger">@ViewBag.Upload2</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Hình ảnh 3</label>
                        @*@Html.LabelFor(model => model.HinhAnh3, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.HinhAnh3, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.HinhAnh3, "", new { @class = "text-danger" })*@
                            <input type="file" name="HinhAnh3" />
                            @if (Model.HinhAnh3 != null)
                            {
                                <img src="@Url.Content("~/Content/HinhAnh/"+Model.HinhAnh3)" width="150px" height="150px" />
                            }

                            <span class="text-danger">@ViewBag.Upload3</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Hình ảnh 4</label>
                        @*@Html.LabelFor(model => model.HinhAnh4, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.HinhAnh4, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.HinhAnh4, "", new { @class = "text-danger" })*@
                            <input type="file" name="HinhAnh4" />
                            @if (Model.HinhAnh4 != null)
                            {
                                <img src="@Url.Content("~/Content/HinhAnh/"+Model.HinhAnh4)" width="150px" height="150px" />
                            }

                            <span class="text-danger">@ViewBag.Upload4</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Sản phẩm mới</label>
                        @*@Html.LabelFor(model => model.Moi, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Moi)
                                @Html.ValidationMessageFor(model => model.Moi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <span class="text-danger">@ViewBag.ABC</span>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Cập nhật" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
            <div>
                @Html.ActionLink("Về trang chủ", "Index")
            </div>
        </div>
    </div>
</div>

