@using TShop.Models;
@model SANPHAM


@{
    ViewBag.Title = "ThemSanPham";
    Layout = "~/Views/Shared/Layout/_AdminLayout.cshtml";
}
@*@{ IEnumerable<NHACUNGCAP>  = (IEnumerable<SANPHAM>)ViewBag.vBSanPhamMoi;}*@
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Tất cả sản phẩm</h6>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("ThemSanPham", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                HttpCookie ck = Request.Cookies["TenDangNhap"];
                //byte[] s = ck.Values["Ten"];
                //var hexString = BitConverter.ToString(s);
                string s = HttpUtility.UrlDecode(ck.Values["Id"]);
                @Html.Hidden("MaTV", s)
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @*<h4>Thêm sản phẩm</h4>
                        <hr />*@
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.TenSP, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label class="control-label col-md-2">Tên sản phẩm</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
                            <span class="text-danger">@ViewBag.TenSP</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Loại sản phẩm</label>
                        @*@Html.LabelFor(model => model.MaLSP, "MaLSP", htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div style="display:flex">
                            <div class="col-md-10">
                                @Html.DropDownList("MaLSP", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MaLSP, "", new { @class = "text-danger" })

                            </div>
                            @*<input type="button" value="+" class="btn btn-success" />*@
                            <a href="@Url.Action("ThemloaiSanPham","Admin")" class="btn btn-success">+</a>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Nhà cung cấp</label>
                        @*@Html.LabelFor(model => model.MaNCC, "MaNCC", htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div style="display:flex">
                            <div class="col-md-10">
                                @Html.DropDownList("MaNCC", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MaNCC, "", new { @class = "text-danger" })
                            </div>
                            @*<input type="button" id="btnThemNCC" value="+" class="btn btn-success" />*@
                            <a href="@Url.Action("ThemNhaCungCap","Admin")" class="btn btn-success">+</a>
                            @*<script>
                                    $(document).ready(function () {
                                        $("#btnThemNCC").click(function () {
                                            $("#NCCForm").toggle();

                                        });
                                    });

                                </script>*@
                            @*<script>
                                    $(document).ready(function () {
                                        $("#btnTatThemNCC").click(function () {
                                            $("#NCCForm").attr("style","display:none;");
                                            $(this).attr("id", "btnThemNCC");
                                            $(this).attr("value", "+");
                                        });

                                    });
                                </script>*@
                        </div>
                    </div>
                    @*<div id="NCCForm" class="card shadow mb-4" style="display:none">
                            <div class="card-body">

                                @using (Html.BeginForm("ThemNhaCungCap", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                                {

                                    <div class="form-group">
                                        <label class="control-label col-md-2">Tên nhà cung cấp</label>

                                        <div class="col-md-10">

                                            <input type="text" class="form-control" name="TenNCC" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Địa chỉ</label>

                                        <div class="col-md-10">

                                            <input type="text" class="form-control" name="DiaChi" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Email</label>

                                        <div class="col-md-10">

                                            <input type="text" class="form-control" name="Email" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Số điện thoại</label>

                                        <div class="col-md-10">

                                            <input type="text" class="form-control" name="SoDienThoai" />
                                        </div>
                                    </div>
                                    <input type="submit" value="Thêm nhà cung cấp" class="btn btn-success" />
                                }
                            </div>
                        </div>*@
                    <div class="form-group">
                        <label class="control-label col-md-2">Nhà sản xuất</label>
                        @*@Html.LabelFor(model => model.MaNSX, "MaNSX", htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div style="display:flex">
                            <div class="col-md-10">
                                @Html.DropDownList("MaNSX", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MaNSX, "", new { @class = "text-danger" })
                            </div>
                            @*<input type="button" value="+" class="btn btn-success" />*@
                            <a href="@Url.Action("ThemNhaSanXuat","Admin")" class="btn btn-success">+</a>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-2">Giá Nhập (VNĐ)</label>
                        @*@Html.LabelFor(model => model.DonGia, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <input class="form-control" name="DonGiaNhap" />
                            @*@Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Giá bán (VNĐ)</label>
                        @*@Html.LabelFor(model => model.DonGia, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Số lượng</label>
                        @*@Html.LabelFor(model => model.DonGia, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SoLuongTon, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Cấu hình</label>
                        @*@Html.LabelFor(model => model.CauHinh, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.CauHinh, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CauHinh, "", new { @class = "text-danger" })*@
                            <textarea id="mytextarea1" name="CauHinh">@if (Model != null) {@Model.CauHinh }</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Mô tả</label>
                        @*@Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })*@
                            <textarea id="mytextarea" name="MoTa">@if (Model != null) {@Model.MoTa }</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Hình ảnh 1</label>
                        @*@Html.LabelFor(model => model.HinhAnh, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">

                            <input type="file" name="HinhAnh" />
                            @*@if (Model != null)
                                {
                                    <img src="@Url.Content("~/Content/HinhAnh/"+Model.HinhAnh)" width="150px" height="150px" />

                                }*@
                            <span class="text-danger">@ViewBag.Upload</span>
                            <span class="text-danger">@ViewBag.HinhAnh</span>


                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Hình ảnh 2</label>
                        @*@Html.LabelFor(model => model.HinhAnh2, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.HinhAnh2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.HinhAnh2, "", new { @class = "text-danger" })*@
                            <input type="file" name="HinhAnh2" />
                            <span class="text-danger">@ViewBag.Upload2</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Hình ảnh 3</label>
                        @*@Html.LabelFor(model => model.HinhAnh3, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.HinhAnh3, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.HinhAnh3, "", new { @class = "text-danger" })*@
                            <input type="file" name="HinhAnh3" />
                            <span class="text-danger">@ViewBag.Upload3</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Hình ảnh 4</label>
                        @*@Html.LabelFor(model => model.HinhAnh4, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.HinhAnh4, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.HinhAnh4, "", new { @class = "text-danger" })*@
                            <input type="file" name="HinhAnh4" />
                            <span class="text-danger">@ViewBag.Upload4</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Sản phẩm mới</label>
                        @*@Html.LabelFor(model => model.Moi, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Moi)
                                @Html.ValidationMessageFor(model => model.Moi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <span class="text-danger">@ViewBag.ABC</span>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Tạo sản phẩm" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
            <div>
                @Html.ActionLink("Về trang chủ", "Index")
            </div>
        </div>

    </div>
</div>
